@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-image: url(../img/bg.jpg);
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
  color: #fff;
}

body.audi-bg {
  background-image: url(../img/audi-bg.gif);
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

body.loaded .preloader {
  display: none;
}

body.loaded .page-content {
  display: block;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.right-area-wrapper {
  background-color: #fff;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  margin-top: 15px;
  color: #000000;
}

.reg-content {
  position: relative;
  min-height: 100vh;
}

.reg-content .left-art {
  position: absolute;
  top: 0;
  left: 0;
}

.reg-content .left-art img {
  width: 100%;
  height: auto;
}

.reg-content h5 {
  color: #6f6f6f;
  text-align: center;
}

#mobile-portrait {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
  display: none;
}

.center-device {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(5);
          transform: translate(-50%, -50%) scale(5);
  height: 50vh;
  max-height: 150px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 815px) {
  #content #bottom-menu {
    height: 50px !important;
  }
  #content #bottom-menu ul li a {
    font-size: 0.8em !important;
    padding: 5px !important;
  }
  #content #bottom-menu .ml-auto {
    margin-left: 5px !important;
  }
  #helpline {
    font-size: 0.8em !important;
    right: 10px !important;
  }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 815px) and (orientation: portrait) {
  #mobile-portrait {
    display: block !important;
  }
}

form {
  color: #333;
}

form label {
  text-transform: uppercase;
  font-weight: 500;
  display: block;
}

form .input {
  background-color: #eaecef;
  border-radius: 1px;
  width: 100%;
  border: 0;
  padding: 10px;
  font-size: 1em;
}

form [type=submit] {
  border: 0;
  border-radius: 0;
}

form [type=checkbox] {
  margin-right: 5px;
}

form .btn-submit {
  background-image: url(../img/btn-bg.jpg);
  width: 96px;
  height: 41px;
  color: #fff;
}

form .divider {
  border-top: 2px solid #e4e4e4;
}

form .lower {
  text-transform: capitalize !important;
}

form .form-cancel img {
  vertical-align: top;
}

form sup.req {
  color: #c00;
}

form .btn-register {
  background-image: url(../img/btn-register.jpg);
  width: 96px;
  height: 41px;
}

form .btn-submit {
  background-image: url(../img/btn-submit.jpg);
  width: 96px;
  height: 41px;
}

form #btnLogin {
  background-color: #1f3b72;
  width: 96px;
  height: 41px;
  text-align: center;
  color: #fff;
}

/* Customization Style of SyoTimer */
.syotimer {
  text-align: center;
  margin: 30px auto 0;
  padding: 0 0 10px;
}

.syotimer-cell {
  display: inline-block;
  margin: 0 5px;
  width: 79px;
  background: url(../img/timer.png) no-repeat 0 0;
}

.syotimer-cell__value {
  font-size: 35px;
  color: #ffffff;
  height: 81px;
  line-height: 81px;
  margin: 0 0 5px;
}

.syotimer-cell__unit {
  font-size: 12px;
  text-transform: uppercase;
}

.option {
  font-weight: 700;
}

.preloader {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999999;
}

.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader--dot {
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}

.loader--dot:first-child {
  background-color: #8cc759;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
  background-color: #60beeb;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}

.loader--text:after {
  content: "Loading";
  font-weight: bold;
  -webkit-animation-name: loading-text;
          animation-name: loading-text;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: #333333;
}

@-webkit-keyframes loader {
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(230px);
            transform: translateX(230px);
  }
  65% {
    -webkit-transform: translateX(230px);
            transform: translateX(230px);
  }
  95% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes loader {
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(230px);
            transform: translateX(230px);
  }
  65% {
    -webkit-transform: translateX(230px);
            transform: translateX(230px);
  }
  95% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}

@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
  }
}

#content {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: calc(100vh);
  overflow: hidden;
  color: #333;
}

#content #header-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

#content #header-menu a {
  color: #424242;
  font-size: 1em;
}

#content #header-menu ul#attendance {
  list-style: none;
  margin: 0;
  padding: 0;
}

#content #header-menu ul#attendance li {
  margin-bottom: 0;
  font-size: 0.75em;
  padding: 0 10px;
}

#content #bottom-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
}

#content #bottom-menu .bottom-nav {
  padding: 4px 0;
}

#content #bottom-menu ul li {
  /*padding:0 10px;*/
}

#content #bottom-menu ul li i, #content #bottom-menu ul li a {
  display: block;
  color: #424242;
  font-size: 1em;
  text-align: center;
  padding: 5px 10px;
}

#content #bottom-menu ul li i:hover, #content #bottom-menu ul li a:hover {
  text-decoration: none;
}

#content #bottom-menu ul li i {
  position: relative;
}

#content #bottom-menu ul li i #chat-message {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 0.75em;
}

#content #bg {
  position: relative;
}

#content #bg img {
  width: 100%;
  height: auto;
}

#content #bg .indicator {
  background-color: #c00;
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 #000;
          box-shadow: 0 0 0 0 #000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

#content #bg .indicator.d-10 {
  width: 10px;
  height: 10px;
  bottom: -5px;
  left: calc(50% - 5px);
  /*top: calc(100% - 5px) !important;*/
}

#content #bg .indicator.d-4 {
  width: 4px;
  height: 4px;
  bottom: -2px;
  left: calc(50% - 2px);
  /*top: calc(100% - 3px) !important;*/
}

#content #bg .indicator.d-6 {
  width: 6px;
  height: 6px;
  bottom: -6px;
  left: calc(50% - 3px);
  /*top: calc(100% - 3px) !important;*/
}

#content #bg .indicator.d-8 {
  width: 8px;
  height: 8px;
  bottom: -4px;
  left: calc(50% - 4px);
  /*top: calc(100% - 3px) !important;*/
}

#content #bg .indicator.d-12 {
  width: 12px;
  height: 12px;
  bottom: -6px;
  left: calc(50% - 6px);
  /*top: calc(100% - 3px) !important;*/
}

#content #bg area {
  outline: none;
}

#content #bg area:focus {
  outline: none;
}

#content #bg #back-button {
  position: absolute;
  background-color: #072d45;
  padding: 5px 10px;
  border-radius: 4px;
  top: 80px;
  left: 15px;
}

#content #bg #back-button a, #content #bg #back-button a:hover {
  color: #fff;
}

#content #bg #rightBanner {
  position: absolute;
  background-color: #000;
  top: 5.2%;
  left: 60%;
  width: 13.3%;
  height: 10.7%;
}

#content #bg #leftBanner {
  position: absolute;
  background-color: #000;
  top: 5.2%;
  left: 21.7%;
  width: 13.3%;
  height: 10.7%;
}

#content #bg #lobbyVideo {
  position: absolute;
  top: 11.7%;
  left: 42.4%;
  width: 12.4%;
  height: 10.3%;
}

#content #bg #lobbyVideo #player {
  width: 100%;
  height: 100%;
}

#content #bg #helpDesk {
  position: absolute;
  top: 50.8%;
  left: 44.8%;
  width: 6.3%;
  height: 1.3%;
}

#content #bg #enterAudi1 {
  position: absolute;
  top: 25.2%;
  left: 21.4%;
  width: 8.7%;
  height: 2.2%;
}

#content #bg #enterAudi2 {
  position: absolute;
  top: 25.2%;
  left: 44.1%;
  width: 8.7%;
  height: 2.2%;
}

#content #bg #enterAudi3 {
  position: absolute;
  top: 25.2%;
  left: 67.4%;
  width: 8.7%;
  height: 2.2%;
}

#content #bg #showAgenda {
  position: absolute;
  top: 43.9%;
  left: 59.0%;
  width: 4.3%;
  height: 1.1%;
}

#content #bg #showAgenda .indicator {
  bottom: -2px;
  left: 45%;
}

#content #bg #showIntValue {
  position: absolute;
  top: 46.0%;
  left: 59.0%;
  width: 4.3%;
  height: 3.0%;
}

#content #bg #showIntValue .indicator {
  bottom: -2px;
  left: 45%;
}

#content #bg #showIntIcon {
  position: absolute;
  top: 50%;
  left: 59.0%;
  width: 4.3%;
  height: 2.1%;
}

#content #bg #showIntIcon .indicator {
  bottom: -2px;
  left: 45%;
}

#content #bg #topFSO {
  position: absolute;
  top: 40.8%;
  left: 15.8%;
  width: 2.3%;
  height: 1.1%;
}

#content #bg #fgFSO {
  position: absolute;
  top: 40.6%;
  left: 21%;
  width: 4.4%;
  height: 1.2%;
}

#content #bg #topDSM {
  position: absolute;
  top: 44.1%;
  left: 15.8%;
  width: 2.4%;
  height: 1.0%;
}

#content #bg #fgDSM {
  position: absolute;
  top: 43.8%;
  left: 21.0%;
  width: 4.6%;
  height: 1.0%;
}

#content #bg #fgZSM {
  position: absolute;
  top: 47.1%;
  left: 18.4%;
  width: 4.7%;
  height: 0.9%;
}

#content #bg #mumfermax {
  position: absolute;
  top: 40.7%;
  left: 70.1%;
  width: 5.4%;
  height: 1.6%;
}

#content #bg #milical {
  position: absolute;
  top: 40.7%;
  left: 76%;
  width: 4.5%;
  height: 1.6%;
}

#content #bg #dubagest {
  position: absolute;
  top: 43.2%;
  left: 72.8%;
  width: 4.2%;
  height: 1.5%;
}

#content #bg #fenza {
  position: absolute;
  top: 45.6%;
  left: 71.7%;
  width: 2.1%;
  height: 1.4%;
}

#content #bg #fenzawash {
  position: absolute;
  top: 45.6%;
  left: 75.6%;
  width: 2.8%;
  height: 2.0%;
}

#content #bg #webcast-area {
  position: absolute;
  background-color: #000;
  top: 31.4%;
  left: 36.0%;
  width: 27.5%;
  height: 18.5%;
}

#content #bg #webcast-area #goFS {
  position: absolute;
  bottom: -15px;
  right: 0;
  font-size: 0.5em;
  background-color: #c00;
  padding: 0px 3px;
  letter-spacing: 0.15em;
}

#content #bg #webcast-area #goFS:hover {
  color: #fff;
}

#content #bg #webcast-area #player {
  width: 100%;
  height: 100%;
}

#content #bg #audiBonk2, #content #bg #audiFenza {
  position: absolute;
  top: 37.4%;
  left: 34.1%;
  width: 4%;
  height: 2.2%;
}

#content #bg #audiDubinor, #content #bg #audiDubagestSR {
  position: absolute;
  top: 37.4%;
  left: 43.7%;
  width: 4%;
  height: 2.2%;
}

#content #bg #audiEsoz, #content #bg #audiMilical {
  position: absolute;
  top: 37.4%;
  left: 53.3%;
  width: 4%;
  height: 2.2%;
}

#content #bg #audiCollasmart, #content #bg #audiMumfer {
  position: absolute;
  top: 37.4%;
  left: 62.8%;
  width: 4%;
  height: 2.2%;
}

#content #audiAgenda, #content #ask-ques, #content #take-poll {
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100px;
  border-radius: 0 6px 6px 0;
  text-align: center;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
          box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
}

#content #audiAgenda a, #content #ask-ques a, #content #take-poll a {
  display: block;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  padding: 10px 5px;
}

#content #audiAgenda i, #content #ask-ques i, #content #take-poll i {
  display: block;
  margin-bottom: 5px;
}

#content #ask-ques, #content #take-poll {
  left: auto !important;
  right: 0;
  top: 20%;
  border-radius: 6px 0 0 6px !important;
}

#content #take-poll {
  top: calc(20% + 80px);
}

#content .panel {
  position: absolute;
  top: 60px;
  right: -300px;
  width: 300px;
  height: calc(100vh - 120px);
  cursor: pointer;
  background-color: #adb5bd;
  font-size: 1em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#content .panel .panel-heading {
  background-color: #212529;
  text-transform: uppercase;
  padding: 5px 10px;
  position: relative;
  font-size: 1.25em;
  color: #EEEEEE;
}

#content .panel .panel-heading .close {
  position: absolute;
  right: 10px;
  top: 7px;
  font-size: 1em;
  color: #ccc;
  background-color: #c00;
  padding: 2px 4px 3px 4px;
}

#content .panel .panel-content {
  padding: 20px;
}

#content .panel.show {
  right: 0;
}

#content .form-check-input {
  margin-left: 0;
}

/*Modals*/
.modal {
  outline: 0;
}

.modal#attendees .modal-dialog, .modal#confAgenda .modal-dialog {
  width: 90% !important;
  max-width: 800px !important;
  height: 80vh;
  max-height: 600px;
}

.modal .search-area form .input {
  width: 100%;
}

.modal .modal-dialog {
  width: 80%;
  max-width: 650px;
  height: 70vh;
  max-height: 600px;
}

.modal .modal-dialog .modal-content {
  border: 0;
}

.modal .modal-dialog .modal-content .modal-header {
  background-color: #072d45;
}

.modal .modal-dialog .modal-content .modal-header h5.modal-title {
  margin: 0;
  font-size: 1.25em;
  color: #fff;
}

.modal .modal-dialog .modal-content .modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  background-color: #c00;
  color: #fff;
}

.modal .modal-dialog .modal-content .modal-header .close:focus {
  outline: none !important;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 0em;
  color: #616161;
  background-color: #F5F5F5;
  /*min-height: 50vh;*/
}

.modal .modal-dialog .modal-content .modal-body iframe {
  width: 100%;
  height: 100%;
}

.modal .modal-dialog .modal-content .modal-body .search-area {
  background-color: #e0e0e0;
  color: #333;
  padding: 5px 10px;
}

.modal .modal-dialog .modal-content .modal-body .search-area button {
  border: 1px solid #ccc;
  padding: 4px 12px;
  margin: 0 5px 0 0;
  border-radius: 4px;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList {
  border: 1px solid #e0e0e0;
  padding: 0;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee {
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee .attendee-actions {
  position: absolute;
  top: 7px;
  right: 10px;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee .attendee-actions button {
  border: none;
  background-color: #BDBDBD;
  padding: 4px 8px;
  color: #EEEEEE;
}

.modal .modal-dialog .modal-content .modal-body .content {
  /* min-height: 30vh; */
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px;
  width: 95%;
  margin: 10px auto;
}

.modal .modal-dialog .modal-content .modal-body .content a {
  color: #007cb0;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel {
  margin: 40px 20px;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul li {
  border-bottom: 1px solid #E0E0E0;
  padding: 5px 0;
  margin-bottom: 10px;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul li a {
  color: #1f3b72 !important;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul li a:hover {
  text-decoration: none;
}

.modal-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0px solid #ccc;
  height: 40px;
  margin-bottom: 5px;
}

.modal-tabs:before {
  display: table-cell;
  content: '';
}

.modal-tabs li {
  float: left;
  border: 1px solid #ccc;
  padding: 10px;
}

.modal-tabs li a {
  color: #797878;
  padding: 18px 25px;
}

.modal-tabs li.active {
  border-top: 2px solid #232f3e;
  background-color: #EEEEEE;
}

.modal-tabs li.active a {
  color: #464646;
  font-weight: 600;
}

ul.popuplist {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

ul.popuplist li {
  padding: 10px;
}

ul.popuplist li a {
  color: #333;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #eee;
  -webkit-box-shadow: inset 0 0 6px #eee;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #167ac6;
  border-radius: 10px;
  outline: 0px solid #0c0;
}

ul.audis {
  list-style: none;
  margin: auto;
}

ul.audis li {
  width: 100%;
  background-color: #002d6e;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
}

ul.audis li a {
  color: #fff;
  font-size: 1.5em;
}

table.agenda {
  margin-top: 10px;
}

table.agenda .status {
  font-size: 0.8em;
  text-transform: uppercase;
}

table.agenda .status.yet {
  display: none;
}

table.agenda .status.next {
  color: blue;
}

table.agenda .status.live {
  color: green;
}

table.agenda .status.over {
  color: #cc0000;
}

table.agenda .date {
  font-size: 1em;
}

table.agenda h4 {
  font-size: 1.5em;
  font-weight: 500;
}

table.agenda a.btn-launch {
  background-color: #002d6e;
  padding: 8px 16px;
  border-radius: 0;
  border: none;
  color: #F5F5F5;
  font-size: 1em;
}

ul#pollResults {
  margin: 0;
  padding: 0;
}

ul#pollResults li {
  display: block;
  border: solid 1px #ddd;
  padding: 14px;
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
}

ul#pollResults li .perc-back {
  background: #d2dfe5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  z-index: -1;
}

ul#pollResults li label {
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
  /* &:before {
          content: url('http://img.qa01.medscapestatic.com/pi/videoplayer/icons/qna-radio-off.png');
          overflow: hidden;
          display: inline-block;
          margin-right: 10px;
          margin-top: 2px;
          margin-left: 2px;
          margin-bottom: -1px;
        } */
}

ul#pollResults li .perc-number {
  float: right;
}

.ui-dialog {
  border: 0px solid #1f3b72;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 80% !important;
  height: 60% !important;
  max-width: 900px;
  max-height: 450px;
  overflow: auto;
  background-color: #fff;
}

.ui-dialog.talktoteam {
  max-width: 400px;
  max-height: 400px;
  position: absolute;
  bottom: 70px !important;
  top: auto !important;
  right: 15px;
  left: auto !important;
}

.ui-dialog.attendeechat {
  max-width: 400px;
  max-height: 400px;
  /* position: absolute;
        bottom: 70px !important;
        top: auto !important;
        right: 15px;
        left: auto !important;*/
}

.ui-dialog.videolist {
  max-width: 450px;
  max-height: 400px;
}

.ui-dialog.requests {
  max-width: 500px;
  max-height: 200px;
}

.ui-dialog .ui-widget-header {
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

.ui-dialog .ui-dialog-title {
  text-transform: uppercase;
}

.ui-dialog .ui-dialog-titlebar-close {
  background: none;
  border: none;
  border-radius: 0;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick {
  width: 30px;
  height: 30px;
  background-image: url(../img/close.png);
  background-size: cover;
  background-position: center center;
  margin-top: -16px;
  margin-left: -18px;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick:focus {
  outline: none;
}

.ui-dialog .attendee_chat_box,
.ui-dialog #talktous {
  height: 350px !important;
  overflow: hidden;
}

.btn-chat, .btn-share {
  background-color: #d2dfe5;
  color: #007cb0;
  font-size: 1em;
  padding: 5px;
  border: 1px solid #007cb0;
  border-radius: 4px;
}

#talktous {
  background-color: #fff;
  color: grey;
  padding: 10px;
  margin: 0 auto;
}

#talktous #chat_team .chat_history {
  height: 225px;
  border: 1px solid #e9ecef;
  background-color: #f8f9fa;
  overflow-y: auto;
  margin-bottom: 15px;
}

#talktous #chat_team .form-group {
  margin-bottom: 0.25em;
}

#chat-area {
  background-color: #e9ecef;
  color: #6c757d;
  border: 1px solid #6c757d;
  width: 80%;
  height: calc(100vh - 100px);
  border-radius: 4px;
  margin: 0 auto;
}

#chat-area #chat-members {
  width: 35%;
  border-right: 1px solid #6c757d;
  float: left;
  height: 100%;
}

#chat-area #chat-members #member-heading {
  font-size: 1.25em;
  text-align: center;
  border-bottom: 1px solid #6c757d;
  padding: 10px;
  padding: 25px;
  height: 70px;
}

#chat-area #chat-members #chat-users {
  height: calc(100% - 70px);
  overflow: auto;
}

#chat-area #chat-members #chat-users ul.chatusers {
  list-style: none;
  padding: 0;
  margin: 0;
}

#chat-area #chat-members #chat-users ul.chatusers li {
  padding: 10px 20px;
  border-bottom: 1px solid #dae0e5;
  font-weight: 600;
  font-size: 1.25em;
}

#chat-area #chat-members #chat-users ul.chatusers li span {
  display: block;
  font-size: 0.8em;
  font-weight: 100;
}

#chat-area #chat-members #chat-users ul.chatusers li span.badge {
  display: inline-block;
  margin-left: 3px;
  font-size: 0.8em;
}

#chat-area #chat-members #chat-users ul.chatusers li:hover {
  background-color: #dae0e5;
  cursor: pointer;
}

#chat-area #member-chats {
  width: 65%;
  float: left;
  height: 100%;
}

#chat-area #member-chats #chats-heading {
  height: 70px;
  border-bottom: 1px solid #6c757d;
  padding: 25px;
}

#chat-area #member-chats #chats-heading h3 {
  font-size: 1.25em;
  margin-bottom: 5px;
}

#chat-area #member-chats #chats-heading h4 {
  font-size: 1em;
}

#chat-area #member-chats #member-chat-history {
  height: calc(100% - 100px);
}

#chat-area #member-chats #member-chat-history #chat-history {
  height: calc(100% - 100px);
  overflow: auto;
}

#chat-area #member-chats #member-chat-history #chat-history ul li {
  position: relative;
  border-bottom: 1px solid #dae0e5;
}

#chat-area #member-chats #member-chat-history #chat-history ul li span.time {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.75em;
}

#chat-area #member-chats #team-chat-form {
  height: 100px;
  padding: 10px 30px;
}

#chat-area #member-chats #team-chat-form textarea {
  font-size: 1em;
}

.e-card {
  width: 100%;
}

.e-card .ecard {
  background-color: #29396f;
  padding: 40px;
  border-radius: 12px;
  position: relative;
  color: #fff;
  -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.45);
          box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.45);
}

.e-card .ecard .name {
  font-size: 1.75em;
  text-align: center;
  font-weight: 400;
  margin-bottom: 40px;
  text-shadow: 2px 2px 3px #000;
  text-transform: uppercase;
}

.e-card .ecard .info {
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 50px;
}

.e-card .ecard .info2 {
  font-size: 1em;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

#helpline {
  position: absolute;
  bottom: 8px;
  right: 20px;
  text-align: center;
  color: #333;
}

#helpline i {
  margin-right: 5px;
}

section.videotoplay {
  z-index: 9999;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 0px);
  height: calc(100vh);
}

section.videotoplay video {
  width: 100%;
  height: calc(100vh);
  -o-object-fit: cover;
     object-fit: cover;
  cursor: none;
}

section.videotoplay .skip {
  position: absolute;
  bottom: 100px;
  right: 50px;
  background-color: #cc0000;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 20px;
}

section.videotoplay .skip a {
  color: #fff;
}

section.videotoplay .skip a:hover {
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */